**/.DS_STORE
**/.vscode
**/logs
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/lerna-debug.log
**/node_modules
**/dist
**/dist-ssr
**/*.loca
**/.idea
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw?
**/.dockerignore
**/Dockerfile

ignore
.env
.gitignore
docker-compose.yml
